
data/gfx/char/item/mesh/Frm - Shortcut.lnk
data/db/skill/skill_leveldetail.xml
data/db/skill/skill_leveldetail_elf.xml
data/db/skill/skill_leveldetail_giant.xml
data/gfx/image/npc/high_npcportrait_ego_female_blunt.dds
